body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    max-width: 550px;
    
  }
  
  header {
    background-color: #1F2937;
    color: #D5D4D8;
    padding: 20px;
    text-align: center;
  }
  
  .color-picker-header {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  label[for="color-picker"] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }
  
  #color-picker {
    margin-right: 10px;
    height: 2.2rem;
    padding: 0;
  }

  #mode {
    background: #1F293A;
    color: #D5D4D8;
    height: 2.2rem;
    width: 312px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  button {
    background-color: #3D4B60;
    color: #fff;
    padding: 0.7rem 0.4rem;
    margin-left: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #1F2937;
    color: #D5D4D8;
  }
  
  .color-scheme {
    display: flex;
  }
  
  .color {
    min-height: 30rem;
  }
  
  .color-value {

    text-align: center;
    padding: 10px;
  }
  
  .color-scheme-values input {
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
  }

.container {
  max-width: 1000px;
}
